<!-- <ion-tabs>
	<ion-tab label="Dashboard" href="/tabs/(dashboard:dashboard)">
		<ion-router-outlet name="dashboard"></ion-router-outlet>
	</ion-tab>
	<ion-tab label="Transaction" href="/tabs/(transaction:transaction)">
		<ion-router-outlet name="transaction"></ion-router-outlet>
	</ion-tab>
	<ion-tab label="History" href="/tabs/(history:history)">
		<ion-router-outlet name="history"></ion-router-outlet>
	</ion-tab>
</ion-tabs>
 -->

<ion-tabs>
    <ion-tab>
        <ion-router-outlet name="dashboard"></ion-router-outlet>
    </ion-tab>
    <ion-tab>
        <ion-router-outlet name="transaction"></ion-router-outlet>     
    </ion-tab>
    <ion-tab>
        <ion-router-outlet name="history"></ion-router-outlet>     
    </ion-tab>
</ion-tabs>
 