<ion-app>
	<nav class="bottom_container" *ngIf="is_menu_display">
		<div class="inner_container">
			<ul>
				<li routerLinkActive="active" [ngClass]="{'active': is_menu_active == 'dashboard'}" (click)="click_menu('dashboard')">
					<span class="icon"></span>
					<p>Dashboard</p>
				</li>
				<li routerLinkActive="active" [ngClass]="{'active': is_menu_active == 'transaction'}" (click)="click_menu('transaction')">
					<span class="icon"></span>
					<p>Add Entry</p>
				</li>
				<li routerLinkActive="active" [ngClass]="{'active': is_menu_active == 'history'}" (click)="click_menu('history')">
					<span class="icon"></span>
					<p>History</p>
				</li>
			</ul>
		</div>
	</nav>

	<nav class="left_button" *ngIf="is_menu_display" [ngClass]="{'active': is_side_menu_active}">
		<div class="header">
			<span class="icon" (click)="is_side_menu_active = false"></span>
		</div>
		<div class="user">
			<div class="avatar" [style.backgroundImage]="'url(' + api_url + user_details.avatar + ')'"></div>
			<h2>{{user_details.first_name}} {{user_details.last_name}}</h2>
		</div>
		<div class="body">
			<ul>
				<li>
					<span class="icon"></span>
					<p>Profile</p>
				</li>
				<li (click)="common_service.update_wallet()">
					<span class="icon"></span>
					<p>Wallets</p>
				</li>
				<li (click)="common_service.log_out()">
					<span class="icon"></span>
					<p>Logout</p>
				</li>
			</ul>
		</div>
	</nav>
	<ion-router-outlet></ion-router-outlet>
</ion-app>
