<section class="dashboard">
	<div class="inner_container">
		<div class="header">
			<a class="icon"></a>
			<h1>Dashboard</h1>
		</div>
		<div class="body">
			<div class="personnal_card">
				<div class="card_header">
					<span class="avatar_illustration" style="background-image: url(https://api.adorable.io/avatars/20/abott@adorable.png)"></span>
					<div class="naming">
						<h4>Jean-Marie Baran</h4>
						<p>last updates Today at 12:04</p>
					</div>
				</div>
				<div class="card_body">
					<h2>+10,000.00</h2>
				</div>
			</div>
			<div class="partner_card_container">
				<div class="partner_card_inner_container">
					<div class="partner_card">
						<div class="card_header">
							<h4>Jean-Marie B.</h4>
							<p>last updates Today at 12:04</p>
						</div>
						<div class="card_body">
							<h2>+10,000.00</h2>
						</div>
					</div>
					<div class="partner_card">
						<div class="card_header">
							<h4>Jean-Marie B.</h4>
							<p>last updates Today at 12:04</p>
						</div>
						<div class="card_body">
							<h2>+10,000.00</h2>
						</div>
					</div>
					<div class="add_card">
						<h2>Add partner</h2>
					</div>
				</div>
			</div>
			<div class="last_entries">
				<div class="header">
					<h3>Last entries</h3>
				</div>
				<div class="body">
					<ul>
						<li class="entry">
							<span class="avatar_illustration" style="background-image: url(https://api.adorable.io/avatars/20/abott@adorable.png)"></span>
							<div class="content">
								<p><span>#food</span><span>#banana</span><span>#worthit</span></p>
								<p class="small">Yesterdai at 12:09</p>
							</div>
							<div class="price">
								<p>$15,432.88</p>
							</div>
						</li>
						<li class="entry">
							<span class="avatar_illustration" style="background-image: url(https://api.adorable.io/avatars/20/abott@adorable.png)"></span>
							<div class="content">
								<p><span>#food</span><span>#banana</span><span>#worthit</span></p>
								<p class="small">Yesterdai at 12:09</p>
							</div>
							<div class="price">
								<p>$15,432.88</p>
							</div>
						</li>
						<li class="entry">
							<span class="avatar_illustration" style="background-image: url(https://api.adorable.io/avatars/20/abott@adorable.png)"></span>
							<div class="content">
								<p><span>#food</span><span>#banana</span><span>#worthit</span></p>
								<p class="small">Yesterdai at 12:09</p>
							</div>
							<div class="price">
								<p>$15,432.88</p>
							</div>
						</li>
						<li class="entry">
							<span class="avatar_illustration" style="background-image: url(https://api.adorable.io/avatars/20/abott@adorable.png)"></span>
							<div class="content">
								<p><span>#food</span><span>#banana</span><span>#worthit</span></p>
								<p class="small">Yesterdai at 12:09</p>
							</div>
							<div class="price">
								<p>$15,432.88</p>
							</div>
						</li>
						<li class="entry">
							<span class="avatar_illustration" style="background-image: url(https://api.adorable.io/avatars/20/abott@adorable.png)"></span>
							<div class="content">
								<p><span>#food</span><span>#banana</span><span>#worthit</span></p>
								<p class="small">Yesterdai at 12:09</p>
							</div>
							<div class="price">
								<p>$15,432.88</p>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
