<section class="transaction">
	<div class="inner_container">
		<div class="header">
			<a class="icon"></a>
			<h1>History</h1>
		</div>
		<div class="body">
			<div class="input_container">
				<label for="amount_input">Amount</label>
				<input type="text" id="amount_input" placeholder="john.doe@gmail.com">
				<p class="information_message"></p>
			</div>
			<div class="input_container">
				<label for="note_input">Email</label>
				<textarea id="note_input" placeholder="#food, #banana, #worthit"></textarea>
				<p class="information_message"></p>
			</div>
		</div>
		<div class="footer">
			<a class="button cancel">Cancel</a>
			<a class="button success">Add entry</a>
		</div>
	</div>
</section>