<section class="login">
	<div class="main_container">
		<div class="header">
			<h1>Hi,<br>Welcome back!</h1>
		</div>
		<div class="body">
			<div class="input_container">
				<label for="email_input">Email</label>
				<input type="text" id="email_input" placeholder="john.doe@gmail.com">
				<p class="information_message"></p>
			</div>
			<div class="input_container">
				<label for="password_input">Password</label>
				<input type="Password" id="password_input" placeholder="HsdkfH56!JH">
				<p class="information_message"></p>
			</div>
		</div>
		<div class="footer">
			<a class="button">Login</a>
		</div>
	</div>
</section>