<ion-content padding>
	<section class="transaction">
		<div class="inner_container">
			<div class="header">
				<a class="icon"></a>
				<h1>Add Entry</h1>
			</div>
			<div class="body">
				<div class="input_container">
					<label for="amount_input">Amount</label>
					<span class="input_group">
						<input type="text" id="amount_input" placeholder="12.34" [(ngModel)]="transaction.original_amount.amount">
						<button class="currency" (click)="is_currency_displayed = !is_currency_displayed">{{currency.choosen}}</button>
						<span class="other_currency" *ngIf="is_currency_displayed">
							<a *ngFor="let currency of currency.other" (click)="update_currency(currency)">{{currency}}</a>
						</span>
					</span>
					<p class="informational_message" [innerHTML]="info_amount | sanitizer"></p>
				</div>
				<div class="input_container">
					<label for="note_input">Note</label>
					<textarea id="note_input" placeholder="#food, #banana, #worthit" [(ngModel)]="transaction.description"></textarea>
					<p class="informational_message" [innerHTML]="info_note | sanitizer"></p>
				</div>
			</div>
			<div class="footer">
				<a class="button cancel">Cancel</a>
				<a class="button success" (click)="input_verification()">{{button_text}}</a>
			</div>
		</div>
	</section>
</ion-content>
