// =============================================================================
// IMPORT
// =============================================================================
@import "../../../assets/styles/ui_mixines";

section.dashboard{
	div.inner_container{
		position: relative;
		padding-top: 5vh;
		@include container_sizing( 400px );

		div.header{
			margin-bottom: 32px;

			a.icon{
				font-family: 'font_awesome';
				color: #020433;
				display: inline;
				line-height: 32px;
				margin-right: 10px;
				font-size: 32px;
				position: absolute;
				cursor: pointer;
			}
			h1{
				display: block;
				text-align: center;
				width: 100%;
				color: #020433;
				line-height: 32px;
			}
		}
		div.body{

			div.personnal_card{
				width: calc(100% - 48px);
				background: linear-gradient(to bottom left, #0F73EE, #C644FC);
				border-radius: 4px;
				padding: 19px 24px 24px 24px;

				div.card_header{
					overflow: auto;
					padding: 5px 0; 

					span.avatar_illustration{
						float: left;
						display: block;
						width: 32px;
						height: 32px;
						background-size: cover;
						background-position: center center;
						border-radius: 50%;
						border: 1.5px solid #f2f2f2;
					}
					div.naming{
						float: left;
						margin-left: 10px;

						h4{
							color: white;
							font-size: 16px;
						}
						p{
							font-family: 'nixie_one';
							font-size: 14px;
							color: white;
							margin-top: 5px;
						}
					}
				}
				div.card_body{
					padding: 20px 0;

					h2{
						font-family: 'nixie_one';
						font-size: 56px;
						width: 100%;
						text-align: left;
						color: white;
					}
					p.spending{
						font-family: 'nixie_one';
						font-size: 18px;
						width: 100%;
						text-align: left;
						color: white;
					}
				}
			}
			div.partner_card_container{
				width: 105.5%;
				overflow: auto;

				div.partner_card_inner_container{
					margin-top: 12px;
					width: 143%;
					overflow: auto;
	
					div.partner_card{
						width: calc((100% / 3) - 30px);
						background: linear-gradient(to bottom left, #0F73EE, #C644FC);
						border-radius: 4px;
						padding: 7px 12px 12px 12px;
						float: left;
						margin: 0 6px;
	
						&:first-child{ margin-left: 0; }
						&:last-child{ margin-right: 12px; }
						div.card_header{
							overflow: auto;
							padding: 5px 0; 
	
							h4{
								color: white;
								font-size: 14px;
							}
							p{
								font-family: 'nixie_one';
								font-size: 8px;
								color: white;
								margin-top: 5px;
							}
						}
						div.card_body{
							padding: 20px 0;
	
							h2{
								font-family: 'nixie_one';
								font-size: 24px;
								width: 100%;
								text-align: left;
								color: white;
							}
							p.spending{
								font-family: 'nixie_one';
								font-size: 13px;
								width: 100%;
								text-align: left;
								color: white;
							}
						}
					}
					div.add_card{
						width: calc((100% / 3) - 30px);
						height: 120px;
						display: flex;
						justify-content: space-around;
						align-items: center;
						border: 2px dashed #C644FC;
						// border-image: linear-gradient(to bottom left, #0F73EE, #C644FC);
						// border-image-slice: 1;
						// border-image-width: 2px;
						cursor: pointer;
						margin-left: 6px;
						float: left;
				
						h2{
							background: linear-gradient(to bottom left, #0F73EE, #C644FC);
							-webkit-background-clip: text;
							-webkit-text-fill-color: transparent;
							font-size: 18px;
						}
					}
				}
			}
			div.last_entries{
				background-color: #FAFAFA;
				border-radius: 4px;
				box-shadow: 0px 3px 6px rgba(#020433, .2);
				padding: 24px;
				margin: 24px 0 100px 0;

				div.header{
					h3{
						font-size: 16px;
						color: #020433;
					}
				}
				div.body{
					ul{
						li.entry{
							overflow: auto;
							margin: 24px 0;

							&:first-child{ margin-top: 0; }
							&:last-child{ margin-bottom: 0px; }
							span.avatar_illustration{
								float: left;
								display: block;
								width: 32px;
								height: 32px;
								background-size: cover;
								background-position: center center;
								border-radius: 50%;
								border: 1.5px solid #f2f2f2;
							}
							div.content{
								float: left;
								margin-left: 5px;

								p.description{
									width: 180px;
									line-height: 20px;
									height: 20px;
									overflow: hidden;
									text-overflow: ellipsis;
									white-space: nowrap;
									font-size: 14px;
									font-family: 'nixie_one';
									color: #020433;
								}
								p.small{
									font-size: 13px;
									font-family: 'nixie_one';
									color: rgba(#020433, .5);
								}
							}
							div.price{
								float: right;

								p{
									font-size: 14px;
									font-family: 'nixie_one';
									text-align: right;
								}
							}
						}
					}
				}
			}
		}
	}
}

/*
    TABLET VERSION
*/
@media screen and (min-width: 768px ){
	section.dashboard{
		div.inner_container{
			div.header{
				a.icon{}
				h1{}
			}
			div.body{
				div.personnal_card{
					div.card_header{
						span.avatar_illustration{}
						div.naming{
							h4{}
							p{}
						}
					}
					div.card_body{
						h2{}
						p.spending{}
					}
				}
				div.partner_card_container{
					div.partner_card_inner_container{
						div.partner_card{
							&:first-child{}
							&:last-child{}
							div.card_header{
								h4{}
								p{}
							}
							div.card_body{
								h2{}
								p.spending{}
							}
						}
						div.add_card{
							h2{}
						}
					}
				}
				div.last_entries{
					div.header{
						h3{}
					}
					div.body{
						ul{
							li.entry{
								&:first-child{}
								&:last-child{}
								span.avatar_illustration{}
								div.content{
									p.description{
										width: 200px;
									}
									p.small{}
								}
								div.price{
									p{}
								}
							}
						}
					}
				}
			}
		}
	}
}

/*
    SMALL SCREEN COMPUTER VERSION
*/
@media screen and (min-width: 992px ){}

/*
    LARGE SCREEN COMPUTER VERSION
*/
@media screen and (min-width: 1200px ){}


/*
    SUPER LARGE SCREEN COMPUTER VERSION
*/
@media screen and (min-width: 1600px ){}