<ion-content padding>
	<section class="history">
		<div class="inner_container">
			<div class="header">
				<a class="icon" (click)="toggle_side_menu()"></a>
				<h1>History</h1>
			</div>
			<div class="body">
				<div class="last_entries">
					<div class="body">
						<ul>
							<li class="entry" *ngFor="let transaction of all_transactions; let i = index" (click)="activate_item( i )" [ngClass]="{'active': i == selected_item}">
								<span class="avatar_illustration" [style.backgroundImage]="'url(' + api_url + transaction.author.avatar + ')'"></span>
								<div class="content">
									<p class="description">{{transaction.description}}</p>
									<p class="small">{{transaction.creation_date | moment}}</p>
								</div>
								<div class="price">
									<p>{{money_sign}} {{transaction.amount | convertor:user_currency}}</p>
								</div>
								<div class="footer" *ngIf="transaction.author.user_id == user_id">
									<a class="button" (click)="remove_entry(transaction._id)">remove</a>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
</ion-content>
